---
import 'remixicon/fonts/remixicon.css';

import FontImport from '@components/meta/FontImport.astro';
import Searchbar from '@components/Searchbar.astro';

export interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<FontImport />
		<title>{title ? title : 'Launchpad'}</title>
	</head>
	<body class="bg-darkModeBg text-darkModeText">
		<div class="max-w-screen h-screen max-h-screen">
			<div
				class="flex h-full w-full flex-col items-center justify-center"
			>
				<div>
					<span
						id="clock-h"
						class="mb-2 font-mono text-4xl font-black">00</span
					><span id="blink" class="mb-2 font-mono text-4xl font-black"
						>:</span
					><span
						id="clock-m"
						class="mb-2 font-mono text-4xl font-black">00</span
					>
				</div>
				<h1
					id="quote"
					class="mx-auto max-w-[80%] text-center font-mono text-lg font-semibold"
				>
					...
				</h1>
				<h2
					id="author"
					class="mx-auto mb-2 text-center font-mono text-sm font-semibold text-accentColor"
				>
					...
				</h2>
				<Searchbar />
				<div class="flex w-fit">
					<slot />
				</div>
			</div>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<script is:inline>
	const clockH = document.getElementById('clock-h');
	const clockM = document.getElementById('clock-m');
	const blinker = document.getElementById('blink');

	function updateClock() {
		let time = new Date();
		let hrs = time.getHours().toString().padStart(2, '0');
		let mins = time.getMinutes().toString().padStart(2, '0');
		clockH.textContent = hrs;
		clockM.textContent = mins;
	}

	let blinkState = false;
	function blink() {
		if (blinkState) blinker.style.opacity = 1;
		else blinker.style.opacity = 0;
		blinkState = !blinkState;
	}

	updateClock();
	setInterval(() => {
		updateClock();
		blink();
	}, 700);
</script>

<script>
	const res = await fetch(
		'https://api.quotable.io/quotes/random?maxLength=80&tags=Courage|Creativity|Honor|Knowledge|Wisdom'
	);
	const body = (await res.json())[0];

	const quote = body.content ?? 'Happy Journey!';
	const author = body.author ?? '';

	const quoteEl = document.getElementById('quote') as HTMLElement;
	const authorEl = document.getElementById('author') as HTMLElement;

	quoteEl.textContent = quote;
	authorEl.textContent = author;
</script>
